@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #212529;

  --primary: #000000;
  --primary-foreground: #ffffff;

  --secondary: #f8f9fa;
  --secondary-foreground: #212529;

  --accent: #fd7e14;
  --accent-foreground: #ffffff;

  --radius: 0.5rem;
}

.dark {
  --background: #1a1a1a;
  --foreground: #f8f9fa;

  --primary: #ffffff;
  --primary-foreground: #000000;

  --secondary: #2a2a2a;
  --secondary-foreground: #f8f9fa;
}

body {
  /* background-color: var(--background); */
  /* color: var(--foreground); */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  /* gray-300 */
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
  /* gray-400 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Text Selection */
::selection {
  background-color: #fd7e14;
  /* System Orange */
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}