@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #212529;

  --primary: #000000;
  --primary-foreground: #ffffff;

  --secondary: #f8f9fa;
  --secondary-foreground: #212529;

  --accent: #fd7e14;
  --accent-foreground: #ffffff;

  --radius: 0.5rem;
}

.dark {
  --background: #1a1a1a;
  --foreground: #f8f9fa;

  --primary: #ffffff;
  --primary-foreground: #000000;

  --secondary: #2a2a2a;
  --secondary-foreground: #f8f9fa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}